---
import { Image } from "astro:assets";
import { UserPen } from 'lucide-astro';
import raider_photo from '../../assets/raidermr_photo.webp';
---
<section
  id="About"
  class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h2
    class="flex items-center mb-6 text-3xl font-fcb gap-x-3 text-black/80 dark:text-yellow-400 undefined"
  >
    <svg
      class="size-8"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      >
      <UserPen size={25} />
      </svg>
    Sobre mi
  </h2>
  <article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
  >
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Mi nombre Máximo Mercado Racchumí, pero mi apodo es RaiderMr. Soy <strong>Ingeniero de Software</strong>, y me gusta el desarrollo web. Actualmente soy <strong>Freelancer</strong>.
      </p>
      <p>
        Entre mis proyectos se encuentra un <strong>sistema de registro que también genera documentos en Word para la Notaria Delgado Esquinarila en Peru</strong>. Además, actualmente me encuentro trabajando como asistente de TI para la misma empresa.
      </p>
      <p>
        Como Freelancer, he trabajado con <strong>PHP, Laravel, JavaScript, Astro, React, Tailwind y Bootstrap</strong>. Mi objetivo es ofrecer al usuario una solución rápida, sencilla y eficiente.
      </p>
    </div>
    <Image
      width="300"
      height="300"
      src={raider_photo}
      alt="Máximo Mercado Rachumí"
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-4 lg:p-2 lg:w-64 aspect-square rounded-4xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </article>
  <br><br><br>
</section>
