---
import { BriefcaseBusiness, Zap } from 'lucide-astro';
---
<section id="Experience" class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
  <h2 class="font-fcb flex items-center mb-6 text-3xl gap-x-3 text-yellow-400">
    <svg
      class="size-8"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round">
      <BriefcaseBusiness size={25} />
      </svg>
    Experiencia
  </h2>
  <ol class="relative mt-16">
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">
              •
            </span>
            <h3 class="text-xl font-fcb text-yellow-400">
              Freelancer
            </h3>
            <h4 class="font-semibold text-xl text-white">
              Para mi crecimiento...
            </h4>
            <time class="p-0 m-0 text-sm text-white/80"
              >Actualidad...
            </time>
          </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-white md:col-span-3">
          Soy ingeniero de software y desarrollador web, disfruto crear aplicaciones web modernas. Me gusta trabajar con React, Astro y Laravel, aprovecho mis conocimientos para crear soluciones dinámicas y eficientes. Mi objetivo es brindar una buena experiencia al usuario.
        </div>
      </div>
    </li>
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">
              •
            </span>
            <h3 class="text-xl font-fcb text-yellow-400">
              Jr. Full Stack Developer
            </h3>
            <h4 class="font-semibold text-xl text-white">
              Sertech Peru E.I.R.L., Peru
            </h4>
            <time class="p-0 m-0 text-sm text-white/80">
              Mar. 2025 - Jul. 2025
            </time>
          </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-white md:col-span-3" style="display: ruby;">
          Encargado del mantenimiento de  <a href="https://fastcloud.pe/" class="text-md font-fcb text-yellow-400" target="_blank">FAST CLOUD<Zap size={15} /></a>, una aplicación web empresarial en ASP.NET C# (MVC). Desarrollé nuevas funcionalidades y resolví incidencias complejas. Creé interfaces de usuario con Bootstrap, jQuery, HTML5 y CSS3. Gestioné de bases de datos en SQL Server, incluyendo consultas complejas y procedimientos almacenados.
        </div>
      </div>
    </li>
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-xl font-fcb text-yellow-400">
              Jr. Developer y Asistente de T.I.
            </h3>
            <h4 class="font-semibold text-xl text-white">
              Notaria Delgado Esquinarila, Perú
            </h4>
            <time class="p-0 m-0 text-sm text-white/80"
              >Oct. 2024 - Feb. 2025</time
            >
          </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-white md:col-span-3">
          Responsable de la creación del sistema 'Autoviaje' un sistema de registro y generación de documentos para mejorar la eficiencia. También trabajo como asistente de TI, gestionando procesos de datos.
        </div>
      </div>
    </li>
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-xl font-fcb text-yellow-400">
              Asistente Administrativo - Área de Suministros Generales
            </h3>
            <h4 class="font-semibold text-xl text-white">
              Empresa Siderurgica del Perú S.A.A., Perú
            </h4>
            <time class="p-0 m-0 text-sm text-white/80"
              >Jul. 2023 - Jun. 2024</time
            >
          </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-white md:col-span-3">
          Gestión y análisis de datos con SQL Server, Power BI y procesos ETL para la automatización de reportes. Experiencia en seguimiento de órdenes de compra, envíos y recolecciones vía courier, declaración de mercancía en aduanas y coordinación logística con almacenes.
        </div>
      </div>
    </li>
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-xl font-fcb text-yellow-400">
              Asistente Administrativo
            </h3>
            <h4 class="font-semibold text-xl text-white">
              Comercializadora Naty S.R.L, Perú
            </h4>
            <time class="p-0 m-0 text-sm text-white/80"
              >Feb. 2021 - Feb. 2022</time
            >
          </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-white md:col-span-3">
          Responsable del control de inventario, manejo de datos en SQL y Excel, así como la creación de un sistema de inventario con SQL Server y reportes de KPI en Power BI.
        </div>
      </div>
    </li>
  </ol>
</section>
