---
import { BriefcaseBusiness } from 'lucide-astro';
---
<section id="Experience" class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
  <h2 class="font-fcb flex items-center mb-6 text-3xl gap-x-3 text-black/80 dark:text-yellow-400 undefined">
    <svg
      class="size-8"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round">
      <BriefcaseBusiness size={25} />
      </svg>
    Experience
  </h2>
  <ol class="relative mt-16">
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">
              •
            </span>
            <h3 class="text-xl font-bold text-yellow-400">
              Freelancer
            </h3>
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
                For my personal growth...
            </h4>
            <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
              >Present...
            </time>
          </div>
        </div>
        <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
        I am a software engineer and web developer who enjoys building modern web applications. I like working with React, Astro and Laravel, and I leverage my experience to create dynamic and efficient solutions. My goal is to deliver the best user experience.
        </div>
      </div>
    </li>
    <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]">
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-xl font-bold text-yellow-400">
                Jr. Software Developer and IT Assistant
            </h3>
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
              Notaria Delgado, Peru
            </h4>
            <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
              >October 2024 - Present</time
            >
          </div>
        </div>
        <div
          class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
        >
        Responsible for designing and developing the 'Autoviaje' registration and report generation system to improve workflow efficiency. I also work as an IT assistant, managing data processes.
        </div>
      </div>
    </li>
  </ol>
</section>
