---
import { MailPlus, Linkedin, Github } from "lucide-astro";
---

<section class="relative w-full min-h-[740px] flex items-center justify-center text-center text-white py-6" id="Home">
  <div class="max-w-xl">
    <h1 class="text-4xl md:text-6xl font-extrabold leading-tight">
      Hey, I'm <span class="text-[#EDBB00]">RaiderMr</span>
    </h1>
    <p class="mt-6 text-xl text-gray-300">
      +2 years of experience. <span class="text-[#EDBB00]">Software Engineer</span> from Peru. Development of unique web applications.
    </p>
    <nav class="mt-6 flex justify-center gap-4">
        <a
        href="mailto:raidermr3003gean@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
        Email
        <MailPlus size={20} />
        </a>
        <a
        href="https://linkedin.com/in/mrgean3003/"
        target="_blank"
        rel="noopener noreferrer"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
        LinkedIn
        <Linkedin size={20} />
        </a>
        <a
        href="https://github.com/RaiderMr3003"
        target="_blank"
        rel="noopener noreferrer"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
        GitHub
        <Github size={20} />
        </a>
    </nav>
  </div>
</section>